@font-face {
  font-family: "DroidSansRegular";
  src: url("../fonts/droidsans-webfont.eot");
  src: url("../fonts/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidsans-webfont.woff") format("woff"), url("../fonts/droidsans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DroidSansBold";
  src: url("../fonts/droidsans-bold-webfont.eot");
  src: url("../fonts/droidsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidsans-bold-webfont.woff") format("woff"), url("../fonts/droidsans-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.purple {
  color: #844b97;
}

#wrapper {
  width: 955px;
  height: auto;
  margin: 0 auto;
  font-family: DroidSansRegular, "Verdana", Helvetica, sans-serif;
  color: #333333 !important;
}
#wrapper #header {
  width: 100%;
  height: 130px;
  background: url(../images/gmc/header_bg.jpg) repeat-x 0 0;
}
#wrapper #header .heading {
  width: 600px;
  float: left;
  margin: 30px 0 0 30px;
  color: white !important;
  height: 75px;
}
#wrapper #header h1.heading {
  font-size: 18px;
}
#wrapper #header .logo {
  float: right;
  width: 95px;
  margin: 10px 0 15px 0;
}
#wrapper #header .links {
  width: 90%;
  clear: both;
  font-size: 12px;
}
#wrapper #header .links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: #9b57aa;
  color: white;
  padding: 10px;
}
#wrapper #header .links a:hover, #wrapper #header .links a:focus {
  background: #2d438b;
}
#wrapper #slides {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.question_template, .intro, .slide_keypoints {
  min-height: 498px;
  height: 498px;
  height: auto;
  width: 100%;
  position: relative;
  background: white;
}

.line-draw {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 211px;
  background: url(../images/gmc/icons/track_line.png) repeat-x 0 0;
  z-index: 0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix {
  display: inline-block;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

html {
  overflow: auto;
}

.slide_19 .question_template .effect_4 {
  left: 200px;
}
.slide_19 .question_template .effect_4 ul li ul {
  top: 10px;
  width: 467px;
}

.simpleList {
  padding: 5px 5px 5px 15px;
}

#wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6 {
  font-family: DroidSansRegular, "Verdana", Helvetica, sans-serif;
}
#wrapper h5 {
  font-size: 14px;
}
#wrapper p {
  font-size: 14px;
  font-family: Verdana;
}
#wrapper a {
  color: #3bacc4;
  font-size: 14px;
}
#wrapper ul {
  margin: 10px 0 !important;
  list-style-type: disc;
}
#wrapper ul li {
  font-size: 14px;
  font-family: Verdana;
  padding: 10px !important;
}
#wrapper .user_action {
  color: white !important;
}

.intro .top-links {
  position: absolute;
  top: 10px;
  right: 10px;
}
.intro .top-links .info-text {
  padding: 5px 20px 5px 5px;
  width: 193px;
  font-size: 12px;
  margin: 0 10px 0 0;
  font-weight: normal;
  text-decoration: none;
}
.intro .content-left {
  float: left;
  width: 400px;
  min-height: 400px;
  height: auto !important;
  height: 400px;
  margin: 40px 0 0 30px;
}
.intro .content-left h2 {
  color: #844b97;
  font-size: 18px;
}
.intro .content-left .content {
  margin: 10px 0;
}
.intro .content-left .buttons-div {
  width: 100%;
  padding: 10px;
  margin: 45px 0 0 0;
}
.intro .content-left .buttons-div a.button-start {
  background: #d4d4d2;
  padding: 10px 5px;
  text-decoration: none;
  margin: 0 auto;
  cursonr: pointer;
  text-align: center;
  border: 1px solid #d4d4d2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.intro .content-left .buttons-div a.button-start span.button_text {
  background: #0056a2 url(../images/gmc/icons/button_arrows.jpg) no-repeat 95% 50%;
  color: white;
  padding: 5px 42px 5px 16px;
  border: 1px solid  #0056a2 ;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: bold;
}
.intro .content-left .buttons-div a.button-start span.button_text:hover {
  background: #844b97 url(../images/gmc/icons/button_arrows_roll.jpg) no-repeat 95% 50%;
  border-color: #844b97;
}
.intro .img-right {
  float: right;
  position: relative;
  width: 400px;
  height: 420px;
  background: url(../images/gmc/home_temp/home_img.png) no-repeat 0 0;
  margin: 65px 50px 0 0;
}
.intro .img-right img {
  position: absolute;
  top: 55px;
  left: 50px;
  /* for ie */
  -webkit-transform: rotate(-11deg);
  -moz-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

.question_template .holder {
  position: relative;
}
.question_template .effect_1 {
  position: absolute;
  top: 82px;
  left: 171px;
  background: url(../images/gmc/temp_questions/min_image_bg.png) no-repeat 0 0;
  width: 271px;
  height: 339px;
  padding: 12px 0 0 10px;
  /* for ie */
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  z-index: 1;
}
.question_template .effect_2 {
  position: absolute;
  top: 55px;
  left: 374px;
  background: url(../images/gmc/temp_questions/bubble.png) no-repeat 0 0;
  width: 400px;
  height: 240px;
  padding: 80px 0 0 0;
  text-align: center;
  z-index: 1;
}
.question_template .text_data {
  width: 285px;
  margin: 0 auto;
  color: white !important;
  font-size: 20px;
}
.question_template .text_data h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 10px 0;
  color: white !important;
}
.question_template .text_data p {
  font-size: 20px !important;
}
.question_template .text_data a {
  color: #9b57aa !important;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px !important;
}
.question_template .text_data a:hover, .question_template .text_data a:focus {
  color: black !important;
}
.question_template .text_data .info-text {
  padding: 5px 20px 5px 5px;
  width: 193px;
  font-size: 12px;
  margin: 0 auto;
  font-weight: bold;
}
.question_template .three_buttons, .question_template .two_buttons {
  position: absolute;
  top: 45px;
  right: 0;
  width: 100%;
}
.question_template .three_buttons a.user_action, .question_template .two_buttons a.user_action {
  display: block;
  text-decoration: none;
  position: relative;
  border: none;
  margin: 5px 0 5px 85%;
  width: 93px;
  height: 65px;
  font-size: 23px !important;
  text-align: center;
  padding-top: 40px;
  color: white;
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 0;
}
.question_template .three_buttons a.user_action:hover, .question_template .three_buttons a.user_action:focus, .question_template .two_buttons a.user_action:hover, .question_template .two_buttons a.user_action:focus {
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 -113px;
}
.question_template .three_buttons .line-1, .question_template .two_buttons .line-1 {
  background: url(../images/gmc/icons/track_line.png) repeat-x 0 0;
  width: 530px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50px;
  right: 120px;
  z-index: 0;
}
.question_template .three_buttons .line-2, .question_template .two_buttons .line-2 {
  background: url(../images/gmc/icons/track_line.png) repeat-x 0 0;
  width: 530px;
  height: 10px;
  display: block;
  position: absolute;
  top: 160px;
  right: 120px;
  z-index: 0;
}
.question_template .three_buttons .line-3, .question_template .two_buttons .line-3 {
  background: url(../images/gmc/icons/track_line.png) repeat-x 0 0;
  width: 530px;
  height: 10px;
  display: block;
  position: absolute;
  top: 271px;
  right: 120px;
  z-index: 0;
}
.question_template .two_buttons {
  top: 98px;
}
.question_template .effect_4, .question_template .case_study {
  position: absolute;
  top: 450px;
  left: 240px;
  height: 50px;
  z-index: 4;
}
.question_template .effect_4 ul li, .question_template .case_study ul li {
  list-style-type: none;
  float: left;
  margin: 5px;
  position: relative;
  width: auto;
}
.question_template .effect_4 ul li a, .question_template .case_study ul li a {
  background: url(../images/gmc/icons/link_icon.png) no-repeat 100% 50%;
  padding: 5px 22px 5px 5px;
  width: auto;
  font-size: 14px;
  margin: 0 auto;
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: #2d438b !important;
}
.question_template .effect_4 ul li:hover, .question_template .effect_4 ul li:focus, .question_template .case_study ul li:hover, .question_template .case_study ul li:focus {
  padding: 0;
}
.question_template .effect_4 ul li:hover ul, .question_template .effect_4 ul li:focus ul, .question_template .case_study ul li:hover ul, .question_template .case_study ul li:focus ul {
  display: block;
}
.question_template .effect_4 ul li ul, .question_template .case_study ul li ul {
  display: none;
  margin: 20px 0 0 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 0;
  width: 470px;
}
.question_template .effect_4 ul li ul li, .question_template .case_study ul li ul li {
  list-style-type: none;
  float: left;
  margin: 0 5PX;
}
.question_template .effect_4 ul li ul li a, .question_template .case_study ul li ul li a {
  background: url(../images/gmc/icons/link_icon.png) no-repeat 100% 50%;
  padding: 5px 20px 5px 5px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: #2d438b;
}
.question_template .effect_5 {
  position: absolute;
  top: 100px;
  left: 374px;
  background: #89a1b0;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
  text-align: center;
  z-index: 1;
}
.question_template .effect_5 .content {
  width: 100%;
  min-height: 200px;
  height: auto !important;
  height: 200px;
  background: #4799cc;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.question_template .effect_5 .content .text_data {
  width: 285px;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.question_template .effect_5 .content .text_data h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
.question_template .effect_5 .content .text_data p {
  font-size: 20px !important;
  margin: 0 0 5px 0;
}
.question_template .effect_5 .content .text_data p a {
  font-size: 20px !important;
}
.question_template .effect_5 .content .info-text {
  padding: 5px 20px 5px 5px;
  width: 193px;
  font-size: 12px;
  margin: 0 auto;
  font-weight: bold;
}
.question_template .effect_3 {
  width: 300px;
  position: absolute;
  top: 111px;
  right: 0;
}
.question_template .button-outer {
  position: absolute;
  top: 40px;
  right: 0;
  min-height: 100px;
  width: 100px;
}
.question_template .button-outer .button-inner {
  position: relative;
}
.question_template .button-outer .button-inner .line {
  background: url(../images/gmc/icons/track_line.png) repeat-x 0 0;
  width: 600px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50px;
  left: -527px;
  z-index: 0;
}
.question_template .button-outer .button-inner a.user_action {
  display: block;
  text-decoration: none;
  position: relative;
  border: none;
  margin: 5px auto;
  width: 93px;
  height: 65px;
  font-size: 23px !important;
  text-align: center;
  padding-top: 40px;
  color: white;
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 0;
}
.question_template .button-outer .button-inner a.user_action:hover, .question_template .button-outer .button-inner a.user_action:focus, .question_template .button-outer .button-inner a.user_action:active {
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 -113px;
}
.question_template .button-outer .button-inner a.user_action:visited {
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 0;
}

.slide_22 .question_template .question ul {
  list-style-position: inside;
  list-style: none;
  padding-left: 15px;
}
.slide_22 .question_template .question ul li {
  font-size: 16px;
  text-align: left;
}

.slide_keypoints .top-links {
  width: 800px;
  margin: 10px 80px;
}
.slide_keypoints .top-links .info-text {
  background: url(../images/gmc/icons/left-arrows.png) no-repeat 0 50%;
  padding: 5px 5px 5px 20px;
  width: 193px;
  font-size: 12px;
  margin: 0 10px 0 0;
  font-weight: normal;
  text-decoration: none;
}
.slide_keypoints .content-outer {
  width: 800px;
  margin: 10px 80px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}
.slide_keypoints .content-outer .bg {
  border: 1px solid #d4d4d2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: transparent url(../images/gmc/icons/overlay.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.slide_keypoints .content-outer .content-inner {
  border: 1px solid  #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  min-height: 250px;
  padding: 60px 10px 10px 10px;
  position: relative;
}
.slide_keypoints .content-outer .content-inner h2 {
  color: #844b97 !important;
  font-size: 24px !important;
  font-weight: normal;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
}
.slide_keypoints .content-outer .content-inner .info-text {
  position: absolute;
  top: 60px;
  right: 0;
  background: url(../images/gmc/icons/link_icon.png) no-repeat 100% 50%;
  padding: 5px 20px 5px 5px;
  width: 145px;
  font-size: 12px;
  margin: 0 10px 0 0;
  font-weight: normal;
  text-decoration: none;
}
.slide_keypoints .content-outer .content-inner .info-text-print-pdf {
  position: absolute;
  top: 60px;
  right: 0;
  background: url(../images/gmc/icons/link_icon.png) no-repeat 100% 50%;
  padding: 5px 20px 5px 5px;
  width: 145px;
  font-size: 12px !important;
  margin: 0 10px 0 0;
  font-weight: normal;
  text-decoration: none;
}
.slide_keypoints .content-outer .content-inner .info-text-print-pdf {
  background: url(../images/gmc/icons/print_pdf.jpg) no-repeat 100% 50%;
}
.slide_keypoints .content-inner .content {
  height: 230px;
  overflow: auto;
}
.slide_keypoints .content-inner .content h2, .slide_keypoints .content-inner .content h3, .slide_keypoints .content-inner .content h4, .slide_keypoints .content-inner .content h5, .slide_keypoints .content-inner .content h6 {
  font-size: 16px;
  border: 0;
  color: #333333 !important;
  font-weight: bold;
  margin: 10px 0;
}

.key_points_overlay h2 {
  color: #844b97;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.key_points_overlay h3 {
  font-size: 16px;
}
.key_points_overlay .info-text, .key_points_overlay .info-text-print-pdf {
  position: absolute;
  top: 45px;
  right: 18px;
  background: url(../images/gmc/icons/link_icon.png) no-repeat 100% 50%;
  padding: 5px 20px 5px 5px;
  width: 145px;
  font-size: 12px !important;
  margin: 0 10px 0 0;
  font-weight: normal;
  text-decoration: none;
}
.key_points_overlay .info-text-print-pdf {
  background: url(../images/gmc/icons/print_pdf.jpg) no-repeat 100% 50%;
  font-size: 12px !important;
}

#overlay-content {
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.5;
  z-index: 400;
  filter: alpha(opacity=50) !important;
}

.overlay-content-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.overlay-content-layer .content-outer {
  width: 700px;
  margin: 35px auto 50px auto;
  padding: 10px;
  position: relative;
}
.overlay-content-layer .content-outer .bg {
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: transparent url(../images/gmc/icons/overlay.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay-content-layer .content-outer .close-top-modal {
  background: transparent url(../images/gmc/icons/overlay_close.png) no-repeat 50% 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  width: 50px;
  height: 50px;
  z-index: 998;
  display: block;
  text-indent: -900%;
}
.overlay-content-layer .content-outer .close-bottom {
  background: url(../images/gmc/icons/close_button.jpg) no-repeat 100% 50%;
  padding: 5px 20px 5px 5px;
  width: 100px;
  font-size: 12px;
  margin: 10px 0 0 0;
  float: right;
  font-weight: normal;
  text-decoration: none;
}
.overlay-content-layer .content-outer .content-inner {
  border: 1px solid  #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  width: 90%;
  overflow: hidden;
  padding: 40px 32px 20px 32px;
  position: relative;
}
.overlay-content-layer .content-outer .content-inner .content {
  overflow: auto;
  height: 370px;
}
.overlay-content-layer .content-outer .content-inner .content h1, .overlay-content-layer .content-outer .content-inner .content h2, .overlay-content-layer .content-outer .content-inner .content h3, .overlay-content-layer .content-outer .content-inner .content h4 {
  color: #333333 !important;
}
.overlay-content-layer .content-outer .content-inner .content .non-bullets {
  list-style: none;
  list-style-position: inside;
  padding: 10px 0;
}
.overlay-content-layer .advice_notes h2, .overlay-content-layer .usefull_contacts h2, .overlay-content-layer .feedback_form h2 {
  color: #844b97;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.overlay-content-layer .role_regulator .content {
  padding: 10px 0;
}
.overlay-content-layer .role_regulator .content th {
  padding: 5px 0;
  text-align: left;
  background: #e8e8e8;
}
.overlay-content-layer .role_regulator .content td {
  padding: 5px 0;
}
.overlay-content-layer .role_regulator .content ul {
  list-style-position: inside;
}
.overlay-content-layer .role_regulator .content ul li {
  list-style: none;
  padding: 10px 0;
}
.overlay-content-layer .role_regulator h2 {
  padding-bottom: 10px;
  color: #844b97;
  border-bottom: 1px solid #844b97;
  margin-bottom: 5px;
}
.overlay-content-layer #usefulContactsPopup {
  text-decoration: underline;
  color: #3bacc4;
  cursor: pointer;
}

#hidden-data {
  display: none;
}

.advice_notes h1 {
  color: #844b97;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.usefull_contacts {
  min-height: 300px;
}
.usefull_contacts h1 {
  color: #844b97;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.usefull_contacts .container {
  margin: 10px 0;
}
.usefull_contacts .container .content {
  width: 100%;
  background: #f7f7f7;
}

.contact_us .content ul {
  font-family: Verdana;
}
.contact_us .content ul li {
  font-family: Verdana;
}

.feedback_form h1 {
  color: #844b97;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.feedback_form .button_submit {
  width: 80%;
  padding: 10px;
  margin: 50px 0 0 0;
}
.feedback_form .button_submit .submit {
  background: #d4d4d2;
  padding: 5px 5px;
  text-decoration: none;
  margin: 0 auto;
  cursonr: pointer;
  text-align: center;
  border: 1px solid #d4d4d2;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  width: 118px;
}
.feedback_form .button_submit .submit .button_text {
  background: #0056a2 url(../images/gmc/icons/button_arrows.jpg) no-repeat 95% 50%;
  color: white;
  padding: 5px 42px 5px 16px;
  border: 1px solid  #0056a2 ;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}
.feedback_form .button_submit .submit .button_text:hover {
  background: #844b97 url(../images/gmc/icons/button_arrows_roll.jpg) no-repeat 95% 50%;
  border-color: #844b97;
}
.feedback_form .form-data {
  border-bottom: 1px solid #0056a2;
  padding: 10px;
  margin: 20px 0;
}
.feedback_form .form-data label {
  color: #333333;
  font-size: 12px;
}
.feedback_form .form-data span {
  color: #844b97;
  font-size: 33px;
  display: block;
  float: left;
  width: 40px;
  font-weight: bold;
}
.feedback_form .form-data .normalTest {
  font-weight: normal !important;
}
.feedback_form .form-data .data-content {
  width: 250px;
  float: left;
}
.feedback_form .form-data .data-content p {
  margin: 0;
  color: #333333;
  font-weight: bold;
}
.feedback_form .form-data-four {
  border-bottom: none;
  padding: 10px;
}
.feedback_form .form-data-four span {
  color: #844b97;
  font-size: 33px;
  display: block;
  float: left;
  width: 40px;
  font-weight: bold;
}
.feedback_form .form-data-four .four label {
  float: left;
  font-size: 14px;
  font-weight: bold;
}
.feedback_form .form-data-four .four textarea {
  width: 92%;
  height: 100px;
  border: 1px solid #cecece;
}
.feedback_form .form-data-four .formcheckboxes {
  width: 325px;
  float: left;
}
.feedback_form .form-data-four .formcheckboxes .inputBox {
  width: 255px;
  float: left;
}
.feedback_form .formTextarea {
  margin-top: 10px;
  clear: both;
}
.feedback_form .formTextarea label {
  float: left;
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0;
}
.feedback_form .formTextarea textarea {
  width: 92%;
  height: 100px;
  border: 1px solid #cecece;
}
.feedback_form .sectionThree .formcheckboxes {
  float: right;
  width: 300px;
}

form label {
  font-family: Verdana;
}
form span {
  font-family: Verdana;
}

.case_study .text-data .left {
  float: left;
  width: 60%;
  margin-right: 20px;
}
.case_study .text-data .left h1 {
  color: #844b97;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #844b97;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.case_study .text-data .left h2 {
  color: #844b97;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}
.case_study .text-data .right {
  float: left;
  width: 32%;
}
.case_study .content i {
  font-size: 12px;
}

#wrapper #footer-gmc {
  width: 100%;
  height: 100px;
}
#wrapper #footer-gmc ul.footer_nav {
  width: 100%;
  background: url(../images/gmc/footer/footer-main.gif) no-repeat 0 -16px;
  padding: 0;
  position: relative;
  height: 60px;
  margin: 0;
}
#wrapper #footer-gmc ul.footer_nav li {
  list-style-type: none;
  float: left;
  padding: 0 !important;
}
#wrapper #footer-gmc ul.footer_nav li a {
  display: block;
  width: 170px;
  height: 22px;
  padding: 14px 10px 26px 10px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  position: absolute;
}
#wrapper #footer-gmc ul.footer_nav li a.one {
  width: 203px;
  left: 0;
  padding-left: 82px;
  z-index: 0;
}
#wrapper #footer-gmc ul.footer_nav li a.one:hover, #wrapper #footer-gmc ul.footer_nav li a.one:focus {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat 0 -95px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li .activeone {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat 0 -95px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li a.two {
  width: 87px;
  left: 293px;
  padding-left: 53px;
  z-index: 0;
}
#wrapper #footer-gmc ul.footer_nav li a.two:hover, #wrapper #footer-gmc ul.footer_nav li a.two:focus {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -293px -172px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li a.activetwo {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -293px -172px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li a.three {
  width: 85px;
  left: 432px;
  z-index: 0;
  padding-left: 71px;
}
#wrapper #footer-gmc ul.footer_nav li a.three:hover, #wrapper #footer-gmc ul.footer_nav li a.three:focus {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -432px -259px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li a.activethree {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -432px -259px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li a.four {
  width: 169px;
  left: 587px;
  z-index: 0;
  padding-left: 48px;
}
#wrapper #footer-gmc ul.footer_nav li a.four:hover, #wrapper #footer-gmc ul.footer_nav li a.four:focus {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -587px -352px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li .activefour {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -587px -352px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li a.five {
  width: 116px;
  left: 803px;
  z-index: 0;
  padding-left: 36px;
  padding-right: 0 !important;
}
#wrapper #footer-gmc ul.footer_nav li a.five:hover, #wrapper #footer-gmc ul.footer_nav li a.five:focus {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -803px -444px;
  z-index: 8;
}
#wrapper #footer-gmc ul.footer_nav li .activefive {
  background: url(../images/gmc/footer/footer-main.gif) no-repeat -803px -444px;
  z-index: 8;
}

#questions {
  min-height: 50px;
  height: auto;
  height: 100px;
  width: 893px;
  padding: 20px 30px 8px 30px;
  background: url(../images/gmc/icons/track_line.png) repeat 0 0;
}
#questions .text_questions {
  width: 240px;
  float: left;
  min-height: 50px;
  margin-top: 20px;
}
#questions .text_questions p {
  margin: 2px;
}
#questions .text_questions h1, #questions .text_questions h2, #questions .text_questions h3, #questions .text_questions h4, #questions .text_questions h5, #questions .text_questions h6 {
  color: #333333 !important;
  margin: 0;
}
#questions ul {
  float: left;
  background: none;
}
#questions ul li {
  list-style-type: none;
  float: left;
  background: url(../images/gmc/icons/arrow.png) no-repeat 100% 0;
  position: relative;
  padding: 0 28px 0 0 !important;
  border: none;
  margin-left: -33px !important;
  z-index: 1;
}
#questions ul li a {
  background: #ebebeb;
  display: block;
  width: 260px;
  height: 46px;
  border-top: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  font-size: 12px;
  text-decoration: none;
  color: #333333;
  padding: 10px 10px 10px 30px;
  line-height: 1.3em;
}
#questions ul li a:hover, #questions ul li a:focus {
  text-decoration: underline;
}

div.sc_menu {
  /* Set it so we could calculate the offsetLeft */
  position: relative;
  height: 145px;
  width: 635px;
  /* Add scroll-bars */
  overflow: auto;
}

ul.sc_menu {
  display: block;
  height: 71px;
  /* Max width here, for users without Javascript */
  padding: 15px 0 0 15px;
  /* Remove default margin */
  margin: 0;
  background: url("navigation.png");
  list-style: none;
}

.sc_menu li {
  display: block;
  float: left;
  padding: 0 4px;
}
.sc_menu a {
  display: block;
  text-decoration: none;
}
.sc_menu span {
  /* We want a caption to display on the next line */
  display: block;
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
  color: white;
  display: none;
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.sc_menu a:hover span {
  display: block;
}
.sc_menu img {
  border: 3px white solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.sc_menu a:hover img {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.debug {
  height: 200px;
  width: 400px;
  z-index: 9999;
  position: absolute;
  top: 20px;
  left: 10px;
}
.debug .slideInfo, .debug .slideType {
  font-size: 14px;
}
.debug .slideInfo span, .debug .slideType span {
  font-weight: bold;
}
