#wrapper {
  position: relative;
}

.question_template {
  height: 490px;
}
.question_template .effect_1 {
  background: url(../images/gmc/temp_questions/min_image_bg.jpg) no-repeat 0 0;
}
.question_template .effect_2 {
  background: #3bacc4;
}
.question_template .effect_2 .info-text {
  background: url(../images/gmc/icons/arrow-blue.jpg) no-repeat 100% 50%;
}
.question_template .effect_4 {
  height: 100px;
}
.question_template .effect_4 ul li {
  float: left;
}
.question_template .effect_5 .content .text_data .info-text {
  background: url(../images/gmc/icons/arrow-blue.jpg) no-repeat 100% 50%;
}
.question_template .case_study {
  height: 150px;
  left: 100px !important;
}
.question_template .case_study ul {
  height: 100px;
}
.question_template .case_study ul li {
  margin: 3px;
  padding: 0;
}
.question_template .case_study ul li a {
  padding: 5px;
  background: none !important;
}
.question_template .case_study ul li ul {
  position: absolute;
  top: 20px;
  display: block;
  width: 650px;
}
.question_template .case_study ul li ul li {
  position: relative;
}
.question_template .case_study ul li ul li a {
  background: none !important;
}
.question_template .three_buttons a.user_action:hover, .question_template .two_buttons a.user_action:hover {
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 -113px;
}
.question_template .three_buttons a.user_action:active, .question_template .two_buttons a.user_action:active {
  background: url(../images/gmc/temp_questions/options_bg.jpg) no-repeat 0 0;
}

#questions .text_questions p {
  margin: 0;
}
#questions .list-questions, #questions .sc_menu {
  height: 90px;
  display: none;
  overflow: hidden;
}
#questions .list-questions ul.sc_menu, #questions .sc_menu ul.sc_menu {
  overflow: hidden;
}
#questions .list-questions ul.sc_menu li, #questions .sc_menu ul.sc_menu li {
  padding: 0;
  margin: 0 !important;
  background: none;
}
#questions .list-questions ul.sc_menu li a, #questions .sc_menu ul.sc_menu li a {
  padding: 10px;
}

.slide_keypoints .content-outer .bg {
  display: none;
}
.slide_keypoints .content-outer .content-inner {
  border: 4px solid #cecece;
}
.slide_keypoints .content-outer .content-inner .info-text, .slide_keypoints .content-outer .content-inner .info-text-print-pdf {
  right: 10px;
}

#overlay-content {
  position: absolute;
  height: 800px !important;
}

.overlay-content-layer .content-outer .close-top-modal {
  top: 20px;
  right: 30px;
  background: none;
  text-indent: 1px;
  width: 100px;
  text-decoration: none;
}
.overlay-content-layer .content-outer .bg {
  display: none;
}
.overlay-content-layer .content-outer .content-inner {
  border: 3px solid #cecece;
}

.key_points_overlay h1, .advice_notes h1 {
  height: 30px;
}

#wrapper #slides .intro {
  height: 100%;
}
#wrapper #slides .intro .top-links {
  height: 30px;
  position: relative !important;
  width: 600px !important;
  margin: 0 0 0 300px !important;
  z-index: 3;
  top: 0 !important;
  zoom: 1;
}
#wrapper #slides .intro .content-left {
  margin-top: 30px;
}

.extra_space {
  width: 250px !important;
}
