#wrapper {
  width: 998px;
  min-height: 700px;
  margin: 0 auto;
}
#wrapper #header {
  width: 100%;
  height: 100px;
  background: url(../images/gmc/header.jpg) no-repeat 0 0;
}
#wrapper #slides {
  width: 100%;
  margin: 0 auto;
  min-height: 700px;
}
#wrapper #slides .slide_1,
#wrapper #slides .slide_2,
#wrapper #slides .slide_3,
#wrapper #slides .slide_4 {
  height: 600px;
  width: 100%;
  position: relative;
  background: white;
}
#wrapper #slides .slide_1 .buttonAction,
#wrapper #slides .slide_2 .buttonAction,
#wrapper #slides .slide_3 .buttonAction,
#wrapper #slides .slide_4 .buttonAction {
  top: 100px;
  left: 100px;
  width: 100px;
  padding: 5px;
  display: block;
  background: #cecece;
  text-align: center;
}
#wrapper #slides .slide_2 .effect_1 {
  position: absolute;
  top: 40px;
  left: 20px;
}
#wrapper #slides .slide_2 .effect_2 {
  position: absolute;
  top: 50px;
  right: 20px;
}
#wrapper #slides .slide_2 .effect_3 {
  position: absolute;
  bottom: 60px;
  left: 50px;
  width: 100px;
}
#wrapper #slides .slide_2 .effect_3 .user_action {
  display: block;
  text-decoration: none;
  border: none;
  margin: 5px;
  width: 400px;
}
#wrapper #slides .slide_2 .effect_4 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 110px;
  width: 998px;
}
