@font-face {
  font-family: "calluna-regular";
  src: url("../fonts/Calum/calluna-regular-webfont.eot");
  src: url("../fonts/Calum/calluna-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/calluna-regular-webfont.woff") format("woff"), url("../fonts/Calum/calluna-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasansblackitalic";
  src: url("../fonts/Calum/callunasansblackitalic-webfont.eot");
  src: url("../fonts/Calum/callunasansblackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasansblackitalic-webfont.woff") format("woff"), url("../fonts/Calum/callunasansblackitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasansblack";
  src: url("../fonts/Calum/callunasansblack-webfont.eot");
  src: url("../fonts/Calum/callunasansblack-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasansblack-webfont.woff") format("woff"), url("../fonts/Calum/callunasansblack-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasansbolditalic";
  src: url("../fonts/Calum/callunasansbolditalic-webfont.eot");
  src: url("../fonts/Calum/callunasansbolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasansbolditalic-webfont.woff") format("woff"), url("../fonts/Calum/callunasansbolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasansbold";
  src: url("../fonts/Calum/callunasansbold-webfont.eot");
  src: url("../fonts/Calum/callunasansbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasansbold-webfont.woff") format("woff"), url("../fonts/Calum/callunasansbold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasansitalic";
  src: url("../fonts/Calum/callunasansitalic-webfont.eot");
  src: url("../fonts/Calum/callunasansitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasansitalic-webfont.woff") format("woff"), url("../fonts/Calum/callunasansitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasanslightitalic";
  src: url("../fonts/Calum/callunasanslightitalic-webfont.eot");
  src: url("../fonts/Calum/callunasanslightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasanslightitalic-webfont.woff") format("woff"), url("../fonts/Calum/callunasanslightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasanslight";
  src: url("../fonts/Calum/callunasanslight-webfont.eot");
  src: url("../fonts/Calum/callunasanslight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasanslight-webfont.woff") format("woff"), url("../fonts/Calum/callunasanslight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasansregular";
  src: url("../fonts/Calum/callunasansregular-webfont.eot");
  src: url("../fonts/Calum/callunasansregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasansregular-webfont.woff") format("woff"), url("../fonts/Calum/callunasansregular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasanssemibolditalic";
  src: url("../fonts/Calum/callunasanssemibolditalic-webfont.eot");
  src: url("../fonts/Calum/callunasanssemibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasanssemibolditalic-webfont.woff") format("woff"), url("../fonts/Calum/callunasanssemibolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callunasanssemibold";
  src: url("../fonts/Calum/callunasanssemibold-webfont.eot");
  src: url("../fonts/Calum/callunasanssemibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calum/callunasanssemibold-webfont.woff") format("woff"), url("../fonts/Calum/callunasanssemibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, div, ul, li, span, a, input, select, form, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  margin-top:20px;
  background: white;
  display: none;
}

#wrapper {
  width: 978px;
  margin: 0 auto;
  min-height: 648px;
  position: relative;
}

a {
  color: #007676;
  font-family: "callunasanssemibold";
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #7cc462;
  font-family: "callunasanssemibold";
}

h1 {
  font-size: 24px;
  font-family: "callunasansbold";
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6 {
  font-size: 14px;
}

p {
  color: #4f4b4b;
  font-family: "callunasanslight";
  font-size: 14px;
  margin: 10px 0;
}

span.green {
  color: #7cc462;
  font-weight: bold;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix {
  display: inline-block;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

html {
  overflow: auto;
}

.midl {
  margin: 0 auto;
}

.titleOne {
  color: #333333;
  font-size: 32px;
}

.fl {
  float: left;
}

.black_green_btn {
  display: block;
  width: 45%;
  background: url(../images/welcome_app/icons/green_arrow_icon.png) no-repeat 100% 50%;
  padding: 5px 40px 5px 0;
  font-family: "callunasanssemibold";
  font-size: 25px;
  text-decoration: none;
  color: #333333;
  margin: 0 auto;
}

.btn1 {
  display: block;
  width: 141px;
  height: 27px;
  background: url(../images/welcome_app/icons/rd_green_arow.png) no-repeat 0 0;
  padding: 12px 5px 5px 40px;
  font-family: "callunasanssemibold";
  font-size: 12px;
  text-decoration: none;
  color: #666666;
  font-weight: normal;
}

.btn2 {
  display: block;
  width: 224px;
  height: 40px;
  background: url(../images/welcome_app/icons/buttons_decision.png) no-repeat 0 0;
  padding: 16px 0 0 0;
  font-family: "callunasansblack";
  font-size: 16px;
  text-decoration: none;
  color: #7cc462;
  text-align: center;
  font-weight: normal;
}

.btn3 {
  display: block;
  width: 224px;
  height: 40px;
  background: url(../images/welcome_app/icons/buttons_decision.png) no-repeat -230px 0;
  color: white;
  padding: 16px 0 0 0;
  font-family: "callunasansblack";
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
}
.btn3:active, .btn3:focus, .btn3:hover {
  display: block;
  width: 224px;
  height: 40px;
  background: url(../images/welcome_app/icons/buttons_decision.png) no-repeat 0 0;
  padding: 16px 0 0 0;
  font-family: "callunasansblack";
  font-size: 16px;
  text-decoration: none;
  color: #7cc462;
  text-align: center;
  font-weight: normal;
}

.activeArg {
  display: block;
  width: 224px;
  height: 40px;
  background: url(../images/welcome_app/icons/buttons_decision.png) no-repeat 0 0;
  padding: 16px 0 0 0;
  font-family: "callunasansblack";
  font-size: 16px;
  text-decoration: none;
  color: #7cc462;
  text-align: center;
  font-weight: normal;
}

.btn4 {
  display: block;
  width: 85px;
  height: 27px;
  background: url(../images/welcome_app/icons/small_rbg_rounded.png) no-repeat 0 0;
  padding: 12px 5px 5px 30px;
  font-family: "callunasanssemibold";
  font-size: 12px;
  text-decoration: none;
  color: #666666;
  font-weight: normal;
}

.teacherlink {
  position: absolute;
  top: -19px;
  right: 25px;
}

.btn5 {
  display: block;
  width: 153px;
  height: 30px;
  background: url(../images/welcome_app/icons/rd_green_arow.png) no-repeat 0 0;
  padding: 9px 5px 5px 56px;
  font-family: "callunasanssemibold";
  font-size: 14px;
  text-decoration: none;
  color: #666666;
  font-weight: normal;
}

.btndisabled {
  background: url(../images/welcome_app/icons/diabled_button.png) no-repeat 0 0;
}
.btndisabled:hover, .btndisabled:focus {
  width: 224px;
  height: 40px;
  background: url(../images/welcome_app/icons/diabled_button.png) no-repeat 0 0;
  color: white;
  padding: 16px 0 0 0;
  font-family: "callunasansblack";
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
}

.optionslist {
  margin: 30px auto;
  width: 900px;
  position: absolute;
  bottom: 0;
  left: 40px;
}

.viewTemplate {
  padding: 15px;
  background: #cecece;
  display: block;
}

.testTemplates {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.testTemplates ul {
  padding: 15px;
  display: none;
  background: #333333;
}
.testTemplates ul li {
  list-style-type: none;
  padding: 0;
}
.testTemplates ul li a {
  color: white;
}

.feedbackmessage {
  display: none;
  position: absolute;
  bottom: 103px;
  left: 29%;
  width: 403px;
  border: none;
  background: white;
  text-align: center;
}
.feedbackmessage p {
  color: #4f4b4b;
  font-size: 18px;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: white url(../images/welcome_app/icons/ajax-loader.gif) no-repeat 50% 268px;
}
.loading p {
  margin: 233px auto 0 auto;
  font-weight: bold;
  font-size: 16px;
  width: 330px;
  font-family: "callunasanssemibold";
  text-align: center;
}

#header {
  background: url(../images/welcome_app/header/header_bg.jpg) repeat-x 0 -18px;
  width: 100%;
  height: 60px;
}
#header .header_content {
  width: 978px;
  height: 56px;
  margin: 0 auto;
  position: relative;
}
#header .header_content .big_picture {
  width: 210px;
  position: absolute;
  top: 4px;
  left: 0;
}
#header .header_content .subject_title {
  margin: 0 0 0 213px;
  padding: 11px 0 0 0;
  color: white;
  font-size: 36px;
  font-family: "callunasansbold";
  font-weight: normal;
}
#header .header_content .welcome_trust {
  width: 210px;
  position: absolute;
  top: 18px;
  right: 0;
}

body#splash_screen {
  background: url(../images/welcome_app/bg/bg_brain.jpg) repeat top left;
}
body#splash_screen .main_text_area {
  background: url(../images/welcome_app/bg/splash_screen_text_bg.png) no-repeat 0 0;
  width: 517px;
  height: 517px;
  margin: 20px auto 0 auto;
  position: relative;
}
body#splash_screen .main_text_area .welocme_text {
  font-weight: normal;
  position: absolute;
  top: 130px;
  left: 106px;
  width: 300px;
  text-align: center;
}
body#splash_screen .main_text_area .welocme_text p {
  font-size: 23px;
  color: #333333;
  text-align: center;
}

#text_image #wrapper .top, #hotspot #wrapper .top, #vote #wrapper .top, #video #wrapper .top, #teachersarea #wrapper .top {
  width: 629px;
  text-align: center;
  margin: 40px auto 40px auto;
}
#text_image #wrapper .top p, #hotspot #wrapper .top p, #vote #wrapper .top p, #video #wrapper .top p, #teachersarea #wrapper .top p {
  font-size: 20px;
  margin: 10px 0;
}
#text_image #wrapper .left, #hotspot #wrapper .left, #vote #wrapper .left, #video #wrapper .left, #teachersarea #wrapper .left {
  float: left;
  width: 490px;
  margin: 0 0 30px 20px;
  min-height: 380px;
}
#text_image #wrapper .left span, #hotspot #wrapper .left span, #vote #wrapper .left span, #video #wrapper .left span, #teachersarea #wrapper .left span {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  color: #4f4b36;
  font-family: "callunasanslight";
}
#text_image #wrapper .right, #hotspot #wrapper .right, #vote #wrapper .right, #video #wrapper .right, #teachersarea #wrapper .right {
  float: left;
  width: 450px;
  margin: 0 0 30px 0;
  min-height: 380px;
}
#text_image #wrapper .right .content h1, #text_image #wrapper .right .content h2, #text_image #wrapper .right .content h3, #text_image #wrapper .right .content h4, #hotspot #wrapper .right .content h1, #hotspot #wrapper .right .content h2, #hotspot #wrapper .right .content h3, #hotspot #wrapper .right .content h4, #vote #wrapper .right .content h1, #vote #wrapper .right .content h2, #vote #wrapper .right .content h3, #vote #wrapper .right .content h4, #video #wrapper .right .content h1, #video #wrapper .right .content h2, #video #wrapper .right .content h3, #video #wrapper .right .content h4, #teachersarea #wrapper .right .content h1, #teachersarea #wrapper .right .content h2, #teachersarea #wrapper .right .content h3, #teachersarea #wrapper .right .content h4 {
  font-size: 20px;
  margin: 0 0 10px 0;
}
#text_image #wrapper .hsicon, #hotspot #wrapper .hsicon, #vote #wrapper .hsicon, #video #wrapper .hsicon, #teachersarea #wrapper .hsicon {
  background: url(../images/welcome_app/icons/hotspot.png) no-repeat 0 0;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
}
#text_image #wrapper .video, #hotspot #wrapper .video, #vote #wrapper .video, #video #wrapper .video, #teachersarea #wrapper .video {
  width: 400px;
  margin: 0 30px 0 30px;
}

#vote #wrapper .top, #video #wrapper .top {
  margin: 40px auto 40px auto;
}
#vote #wrapper .option1, #video #wrapper .option1 {
  background: url(../images/welcome_app/icons/vote.png) no-repeat -269px 0;
  float: left;
  width: 268px;
  height: 270px;
  text-decoration: none;
}
#vote #wrapper .option1 .content, #video #wrapper .option1 .content {
  margin: 35px 0 0 0;
  width: 198px;
  text-align: center;
  padding: 0 30px;
}
#vote #wrapper .option1 .content h3, #vote #wrapper .option1 .content h1, #vote #wrapper .option1 .content h2, #vote #wrapper .option1 .content h4, #video #wrapper .option1 .content h3, #video #wrapper .option1 .content h1, #video #wrapper .option1 .content h2, #video #wrapper .option1 .content h4 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}
#vote #wrapper .option1 .content p, #video #wrapper .option1 .content p {
  color: white;
  font-size: 20px;
  margin: 0;
}
#vote #wrapper .optionVoted1, #video #wrapper .optionVoted1 {
  background: url(../images/welcome_app/icons/vote.png) no-repeat -269px 0;
  float: left;
  width: 268px;
  height: 270px;
  text-decoration: none;
}
#vote #wrapper .optionVoted1 .content, #video #wrapper .optionVoted1 .content {
  margin: 35px 0 0 0;
  width: 198px;
  text-align: center;
  padding: 0 30px;
}
#vote #wrapper .optionVoted1 .content h3, #vote #wrapper .optionVoted1 .content h1, #vote #wrapper .optionVoted1 .content h2, #vote #wrapper .optionVoted1 .content h4, #video #wrapper .optionVoted1 .content h3, #video #wrapper .optionVoted1 .content h1, #video #wrapper .optionVoted1 .content h2, #video #wrapper .optionVoted1 .content h4 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}
#vote #wrapper .optionVoted1 .content p, #video #wrapper .optionVoted1 .content p {
  color: white;
  font-size: 20px;
  margin: 0;
}
#vote #wrapper .questionText, #video #wrapper .questionText {
  float: left;
  width: 345px;
  height: 410px;
  margin: -25px 0 0 43px;
  position: relative;
}
#vote #wrapper .questionText .content, #video #wrapper .questionText .content {
  margin: 110px 0 0 0;
  width: 279px;
  text-align: center;
  padding: 0 32px;
  position: absolute;
  z-index: 2;
}
#vote #wrapper .questionText .content h3, #vote #wrapper .questionText .content h1, #vote #wrapper .questionText .content h2, #vote #wrapper .questionText .content h4, #video #wrapper .questionText .content h3, #video #wrapper .questionText .content h1, #video #wrapper .questionText .content h2, #video #wrapper .questionText .content h4 {
  color: #716e6e;
  font-size: 30px;
  font-weight: bold;
}
#vote #wrapper .questionText .content p, #video #wrapper .questionText .content p {
  color: #716e6e;
  font-size: 20px;
}
#vote #wrapper .option2, #video #wrapper .option2 {
  float: right;
  background: url(../images/welcome_app/icons/vote.png) no-repeat -269px 0;
  width: 268px;
  height: 270px;
  text-decoration: none;
}
#vote #wrapper .option2 .content, #video #wrapper .option2 .content {
  margin: 35px 0 0 0;
  width: 198px;
  text-align: center;
  padding: 0 30px;
}
#vote #wrapper .option2 .content h3, #vote #wrapper .option2 .content h1, #vote #wrapper .option2 .content h2, #vote #wrapper .option2 .content h4, #video #wrapper .option2 .content h3, #video #wrapper .option2 .content h1, #video #wrapper .option2 .content h2, #video #wrapper .option2 .content h4 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}
#vote #wrapper .option2 .content p, #video #wrapper .option2 .content p {
  color: white;
  font-size: 20px;
  margin: 0;
}
#vote #wrapper .optionVoted2, #video #wrapper .optionVoted2 {
  float: right;
  background: url(../images/welcome_app/icons/vote.png) no-repeat -269px 0;
  width: 268px;
  height: 270px;
  text-decoration: none;
}
#vote #wrapper .optionVoted2 .content, #video #wrapper .optionVoted2 .content {
  margin: 35px 0 0 0;
  width: 198px;
  text-align: center;
  padding: 0 30px;
}
#vote #wrapper .optionVoted2 .content h3, #vote #wrapper .optionVoted2 .content h1, #vote #wrapper .optionVoted2 .content h2, #vote #wrapper .optionVoted2 .content h4, #video #wrapper .optionVoted2 .content h3, #video #wrapper .optionVoted2 .content h1, #video #wrapper .optionVoted2 .content h2, #video #wrapper .optionVoted2 .content h4 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}
#vote #wrapper .optionVoted2 .content p, #video #wrapper .optionVoted2 .content p {
  color: white;
  font-size: 20px;
  margin: 0;
}
#vote #wrapper .votedSelected, #video #wrapper .votedSelected {
  background: url(../images/welcome_app/icons/vote.png) no-repeat 0 0 !important;
}
#vote #wrapper .votedSelected .content h3, #vote #wrapper .votedSelected .content h1, #vote #wrapper .votedSelected .content h2, #vote #wrapper .votedSelected .content h4, #video #wrapper .votedSelected .content h3, #video #wrapper .votedSelected .content h1, #video #wrapper .votedSelected .content h2, #video #wrapper .votedSelected .content h4 {
  color: #333333 !important;
}
#vote #wrapper .votedSelected .content p, #video #wrapper .votedSelected .content p {
  color: #333333 !important;
}
#vote #wrapper .active, #video #wrapper .active {
  background: url(../images/welcome_app/icons/vote.png) no-repeat 0 0;
}
#vote #wrapper .active .content h3, #vote #wrapper .active .content h1, #vote #wrapper .active .content h2, #vote #wrapper .active .content h4, #video #wrapper .active .content h3, #video #wrapper .active .content h1, #video #wrapper .active .content h2, #video #wrapper .active .content h4 {
  color: #7cc462;
}
#vote #wrapper .active .content p, #video #wrapper .active .content p {
  color: #7cc462;
}
#vote #wrapper .result1, #video #wrapper .result1 {
  display: none;
  background: url(../images/welcome_app/icons/vote.png) no-repeat -341px -280px;
  position: absolute;
  top: 428px;
  left: 69px;
  height: 118px;
  width: 121px;
  text-align: center;
  color: white;
  padding: 27px 0 0 0;
  font-family: "callunasansbold";
  font-size: 18px;
}
#vote #wrapper .result1 strong, #video #wrapper .result1 strong {
  font-size: 22px;
  font-family: "callunasansbold";
}
#vote #wrapper .result2, #video #wrapper .result2 {
  display: none;
  background: url(../images/welcome_app/icons/vote.png) no-repeat -341px -280px;
  position: absolute;
  top: 428px;
  right: 62px;
  height: 118px;
  width: 121px;
  text-align: center;
  color: white;
  padding: 27px 0 0 0;
  font-family: "callunasansbold";
  font-size: 18px;
}
#vote #wrapper .result2 strong, #video #wrapper .result2 strong {
  font-size: 22px;
  font-family: "callunasansbold";
}
#vote #wrapper .selectedResult, #video #wrapper .selectedResult {
  background: url(../images/welcome_app/icons/vote.png) no-repeat -70px -275px !important;
  position: absolute;
  top: 428px;
  right: 62px;
  height: 118px;
  width: 121px;
  text-align: center;
  color: #333333;
  padding: 27px 0 0 0;
  font-family: "callunasansbold";
  font-size: 18px;
}
#vote #wrapper .selectedResult strong, #video #wrapper .selectedResult strong {
  font-size: 22px;
  font-family: "callunasansbold";
}
#vote #wrapper .float_line, #video #wrapper .float_line {
  border-top: 1px dotted black;
  height: 3px;
  width: 65px;
  position: absolute;
  top: 0;
  left: 0;
}
#vote #wrapper .float_line_2, #video #wrapper .float_line_2 {
  display: none;
  border-left: 1px dotted black;
  height: 63px;
  width: 3px;
  position: absolute;
  top: 405px;
  left: 0;
}

#vote .shareButtons {
  width: 145px;
  margin: 0 auto;
  display: none;
  position: absolute;
  bottom: 71px;
  left: 42%;
}

ul.selects {
  margin: 0 auto;
  width: 80%;
  padding: 5px;
  min-height: 50px;
}
ul.selects li {
  list-style-type: none;
  float: left;
  margin: 5px;
}
ul.selects li a {
  width: 130px;
  display: block;
  background: #7cc462;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 2px solid #cecece;
  font-family: "callunasansblack";
}
ul.selects li a:active, ul.selects li a:focus, ul.selects li a:hover {
  background: white;
  color: #333333;
  border: 2px solid #cecece;
}
ul.selects li a.active {
  background: white;
  color: #333333;
  border: 2px solid #cecece;
}

ul.imagesLists li {
  list-style-type: none;
  text-align: center;
}
ul.imagesLists li img {
  margin: 0;
  padding: 0;
}
ul.imagesLists li span {
  display: block;
  color: #4f4b4b;
  font-family: "callunasanslight";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

.backtodefault {
  text-decoration: none;
  color: #7cc462;
}

.multidata {
  margin: 10px 0 0 0;
  min-height: 200px;
}

#teachersarea #wrapper .top {
  margin: 22px auto 0px auto;
}
#teachersarea .midd {
  width: 970px;
  margin: 0 auto;
}
#teachersarea .midd .help {
  width: 293px;
  float: left;
  margin: 15px;
  text-align: center;
}
#teachersarea .midd .help a.linkresource1 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/welcome_app/icons/green_arrow_icon.png) no-repeat 100% 0;
  padding: 5px 45px 5px 57px;
  color: #716e6e;
  float: left;
  width: 172px;
  min-height: 35px;
}
#teachersarea .midd .help a.linkresource2 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/welcome_app/icons/green_arrow_icon.png) no-repeat 100% 0;
  padding: 5px 45px 5px 70px;
  color: #716e6e;
  float: left;
  width: 129px;
  min-height: 35px;
}
#teachersarea .midd .help a.linkresource3 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/welcome_app/icons/green_arrow_icon.png) no-repeat 100% 0;
  padding: 5px 45px 5px 70px;
  color: #716e6e;
  float: left;
  width: 154px;
  min-height: 35px;
}
#teachersarea .midd .help img {
  width: 232px;
  height: 232px;
  margin: 10px auto;
}
#teachersarea .quotesData {
  width: 970px;
  margin: 0 auto;
}
#teachersarea .quotesData .quotesContent {
  width: 400px;
  margin: 10px auto;
}
#teachersarea .quotesData .quotesContent .container {
  background: url(../images/welcome_app/icons/quotes.png) no-repeat 0 0;
  font-size: 20px;
  padding: 0 0 0 30px;
}
#teachersarea .quotesData .quotesContent .container .name {
  font-size: 16px;
  color: #71bf55;
  display: block;
}
#teachersarea .quotesData .quotesContent .container .jobrole {
  display: block;
  color: black;
  font-size: 16px;
}

h1.headingtopic {
  font-size: 30px;
  font-family: "callunasansbold";
  color: #716e6e;
  margin: 40px auto;
  width: 400px;
  text-align: center;
}

.carousel {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: auto;
  border: none;
  overflow: visible;
}
.carousel .slides {
  margin: 0 auto;
  padding: 0;
  border: none;
  list-style: none;
  position: relative;
  overflow: visible;
}
.carousel .slides .slideItem {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
}
.carousel .slides .slideItem a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.carousel .slides .slideItem img {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
.carousel .description {
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  color: #716e6e;
  text-align: center;
  font-size: 20px;
  z-index: 800;
}
.carousel .description div {
  width: 100%;
  font-family: "callunasansbold";
}
.carousel .description div a {
  padding-top: 353px;
  margin-top: -356px;
  display: block;
  height: 90px;
  color: #716e6e;
  text-decoration: none;
  font-size: 20px;
}
.carousel .nextButton {
  position: absolute;
  right: -20px;
  top: 162px;
  width: 35px;
  height: 35px;
  background: url("../images/welcome_app/icons/carouselnav.png") no-repeat -30px 0;
  cursor: pointer;
  z-index: 800;
}
.carousel .prevButton {
  position: absolute;
  left: -15px;
  top: 165px;
  width: 35px;
  height: 34px;
  background: url("../images/welcome_app/icons/carouselnav.png") 0 0;
  cursor: pointer;
  z-index: 800;
}
.carousel .buttonNav {
  position: relative;
  margin: 0 auto;
  z-index: 999;
}
.carousel .buttonNav .numbers {
  position: relative;
  float: left;
  margin: 5px;
  color: #828282;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, Verdana;
}
.carousel .buttonNav .numbers:hover {
  color: black;
  text-decoration: underline;
}
.carousel .buttonNav .numberActive {
  background: none;
  color: black;
  cursor: default;
}
.carousel .buttonNav .bullet {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  background: url(images/Bullet-White.png) no-repeat center;
  margin: 5px;
  float: left;
  cursor: pointer;
}
.carousel .buttonNav .bullet:hover {
  background: url(images/Bullet-Black.png) no-repeat center;
}
.carousel .buttonNav .bulletActive {
  background: url(images/Bullet-Black.png) no-repeat center;
  cursor: default;
}
.carousel .slides .videoOverlay {
  background: url("images/video.png") no-repeat center;
  /* play button */
}
.carousel .slides .spinner {
  background: black url(images/loading.gif) no-repeat center;
  /* video preloader */
}
.carousel .shadow {
  width: 100%;
  height: 82px;
}
.carousel .shadow .shadowLeft {
  background: url("images/shadowLeft.png") no-repeat;
  width: 100px;
  height: 82px;
  /* fix png problems in ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowLeft.png, sizingmethod=scale)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowLeft.png, sizingmethod=scale);
  /* IE6 & 7 */
}
.carousel .shadow .shadowMiddle {
  height: 82px;
  background: url("images/shadowTile.png") repeat-x;
  /* fix png problems in ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowTile.png, sizingmethod=scale)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowTile.png, sizingmethod=scale);
  /* IE6 & 7 */
}
.carousel .shadow .shadowRight {
  width: 100px;
  height: 82px;
  background: url("images/shadowRight.png") no-repeat;
  /* fix png problems in ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowRight.png, sizingmethod=scale)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowRight.png, sizingmethod=scale);
  /* IE6 & 7 */
}
.carousel .gradient {
  background-image: url(scripts/gradient.svg);
}

.shareButtons {
  height: 80px;
}
.shareButtons .shareText {
  display: block;
  font-weight: bold;
  float: left;
  width: 55px;
  color: #4f4b4b;
  font-family: "callunasanssemibold";
  height: 40px;
  padding: 10px 0 0 0;
}
.shareButtons .twitter .twitterShare {
  display: block;
  background: url(../images/welcome_app/icons/socialIcons.png) no-repeat 100% 50%;
  width: 40px;
  height: 40px;
  float: left;
}
.shareButtons .facebook .facebookShare {
  display: block;
  background: url(../images/welcome_app/icons/socialIcons.png) no-repeat -12% 50%;
  width: 40px;
  height: 40px;
  float: left;
}
